
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: '楷体';
}

html, body {
    height: 100%;
}

#cake {
    display: block;
    position: relative;
    left:50%;
    margin-top: -10em;
    margin-bottom: 0;
    margin-left: -100px;

}

/* ============================================== Candle
*/
/*蛋糕背景颜色-渐变色*/
.bg {
    width: 100%;
    height: 100%;
    background: #00CCFF;
    background: -webkit-linear-gradient(top left, #00CCFF 0%, #66CCFF 100%);
    background: linear-gradient(to bottom right, #66CCFF 0%, #FFCCFF 100%);
}

.velas {
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    top: 247px;
    margin-left: 49.5%;
    width: 5px;
    height: 35px;
    -webkit-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: in 500ms 6s ease-out forwards;
    animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}

.velas:after {
    top: 25%;
    left: 0;
}

.velas:before {
    top: 45%;
    left: 0;
}

/* ============================================== Fire
*/
.fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 70%;
    margin-left: -2.2px;
    width: 6.66666667px;
    height: 18px;
}

.fuego:nth-child(1) {
    -webkit-animation: fuego 2s 6.5s infinite;
    animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
    -webkit-animation: fuego 1.5s 6.5s infinite;
    animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
    -webkit-animation: fuego 1s 6.5s infinite;
    animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
    -webkit-animation: fuego 0.5s 6.5s infinite;
    animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
    -webkit-animation: fuego 0.2s 6.5s infinite;
    animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
    0%, 100% {
        background: rgba(254, 248, 97, 0.5);
        -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }

    50% {
        background: rgba(255, 50, 0, 0.1);
        -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        -webkit-transform: translateY(-20px) scale(0);
        transform: translateY(-20px) scale(0);
    }
}

@keyframes fuego {
    0%, 100% {
        background: rgba(254, 248, 97, 0.5);
        -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }

    50% {
        background: rgba(255, 50, 0, 0.1);
        -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        -webkit-transform: translateY(-20px) scale(0);
        transform: translateY(-20px) scale(0);
    }
}

@-webkit-keyframes in {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes in {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.come {
    animation-delay: 0.4s;
    animation: coming 2s;
    opacity: 1;
}

@keyframes coming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes coming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bg-bubbles {
    position: absolute;
    margin:0;
    padding:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 60s infinite;
    animation: square 60s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
    width: 60px;
    height: 30px;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 60px;
    height: 40px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 27s;
    animation-duration: 27s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 32s;
    animation-duration: 32s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 25s;
    animation-delay: 25s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 21s;
    animation-delay: 21s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-900px) rotate(600deg);
        transform: translateY(-900px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-900px) rotate(600deg);
        transform: translateY(-900px) rotate(600deg);
    }
}

.happy {
    position: absolute;
    opacity:0;
    width: 230px;
    height: 137px;
    overflow: hidden;
    left: 50%;
    margin-left: -115px;
    top: 30%;


    animation-delay: 0s;
}

@keyframes happybirthdays {
    0% {
        position: absolute;
        top: 45%;
        opacity: 0;
    }
    70% {
        position: absolute;
        top: 45%;
        opacity: 0;
    }
    100% {
        position: absolute;
        top: 49%;
        opacity: 1;
    }
}

@-webkit-keyframes happybirthdays {
    0% {
        position: absolute;
        top: 45%;
        opacity: 0;
    }
    70% {
        position: absolute;
        top: 45%;
        opacity: 0;
    }
    100% {
        position: absolute;
        top: 49%;
        opacity: 1;
    }
}

.button-style1, .button-style2 {
    position: absolute;
    top: 40%;
    opacity: 1;
    z-index: 100;
}

.button-style1 {
    position:absolute;
    top:50%;
    left: 50%;
    margin-left:-87px;
    opacity:0;
}
.button-style2 {
    position:absolute;
    top:60%;
    margin-left:-87px;
    left: 50%;
    opacity:0;

}
.name{
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    width: 100%;
    top: -100px;
    opacity: 0;
    font-size: 32px;
    color: #fff;
}
@keyframes btn1 {
    0% {
        opacity: 0;
        top:60%;
    }
    70% {
        opacity: 0;
        top:60%;
    }
    100% {
        opacity: 1;
        top:70%;
    }
}

@-webkit-keyframes btn1 {
    0% {
        opacity: 0;
        top:60%;
    }
    70% {
        opacity: 0;
        top:60%;
    }
    100% {
        opacity: 1;
        top:70%;
    }
}

@keyframes btn2 {
    0% {
        opacity: 0;
        top:60%;
    }
    70% {
        opacity: 0;
        top:70%;
    }
    100% {
        opacity: 1;
        top:85%;
    }
}

@-webkit-keyframes btn2 {
    0% {
        opacity: 0;
        top:60%;
    }
    70% {
        opacity: 0;
        top:70%;
    }
    100% {
        opacity: 1;
        top:85%;
    }
}

.lk1, .lk2 {
    text-decoration: none;
    font-family: Microsoft YaHei;
    color: #fff;
    transition: all 0.5s;
}

/*选项颜色*/
.link1, .link2 {
    width: 170px;
    height: 60px;
    border: 2px solid #fff;
    -webkit-border: 1px solid #fff;
    border-radius: 30px;
    font-size: 23px;
    text-align: center;
    background: #46c1f6;
    transition: all 0.8s;
}

.link2 {
    cursor: not-allowed;
}

.bt1, .bt2 {
    position: relative;
    top: 22%;
    vertical-align: middle;
}

a.lk1:hover {
    color: #ee9ca7;
    transition: all 0.5s;
}

.link1:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0, 2);
    border: 2px solid #BBB;
    transition: all 0.8s;
}

a.lk2:hover {
    color: #ee9ca7;
    transition: all 0.5s;
}

.link2:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0, 2);
    border: 2px solid #BBB;
    transition: all 0.8s;
}

/* 移动端适配 - iPhone 14 Pro Max */
@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    /* 蛋糕缩放适配 */
    #cake {
        width: 160px;
        height: 400px;
        margin-left: -80px;
        margin-top: -8em;
    }
    
    /* 蜡烛位置调整 */
    .velas {
        top: 200px;
        left: 50%;
        margin-left: -2.5px;
        width: 5px;
        height: 30px;
    }

    .fuego {
        width: 7px;
        height: 16px;
        top: -18px;
    }
    
    /* 生日快乐文字 */
    .name {
        font-size: 26px;
        top: 6% !important;
    }
    
    /* HappyBirthday 图片 - 隐藏 */
    .happy {
        display: none;
    }
    
    /* 按钮样式 */
    .button-style1, .button-style2 {
        left: 50%;
        margin-left: -85px;
    }
    
    .button-style1 {
        top: 68% !important;
    }
    
    .button-style2 {
        top: 80% !important;
    }
    
    .link1, .link2 {
        width: 170px;
        height: 55px;
        font-size: 20px;
        border-radius: 28px;
    }
    
    .bt1, .bt2 {
        top: 20%;
    }

    .bt1 a {
        font-size: 20px;
    }
    
    /* 背景气泡图片 */
    .bg-bubbles li img {
        width: 45px !important;
    }
}
